svg {
  /*background: #123456;*/
}

polygon, path, ellipse {
  fill: none;
  stroke: none;
}

text {
  fill: #eee;
}

.cluster polygon {
  fill: rgba(255, 255, 255, 0.2);
  stroke: #eee;
}

.node ellipse, .node polygon {
  fill: rgba(255, 255, 255, 0.2);
  stroke: #eee;
}

.edge path, .edge polygon {
  stroke: #eee;
}
